        <div class="social">
            <a href="https://github.com/supercodingninja" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg" alt="discoverfrederickthomas" height="30" width="30"/></a>&nbsp;
            
            <a href="https://linkedin.com/in/discoverfrederickthomas" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg" alt="discoverfrederickthomas" height="30" width="30"/></a>&nbsp;
            
            <a href="mailto:SuperCodingNinja@outlook.com" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/microsoftoutlook.svg" alt="supercodingninja" height="30" width="30"/></a>&nbsp;
            
            <a href="tel:+1919-525-0548" target="blank"><img align="center" class="icon" src="../Assets/media/iconfinder_device-iPhone-smartphone-vertical-glyph_763248.png" alt="Call Frederick" height="30" width="30"/></a>&nbsp;
            
            <a href="https://www.youtube.com/playlist?list=PLnxMwdxjTgTEN-xRODXLJ6sI5hgz1lFbu" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/youtube.svg" alt="# discoverfrederickthomas" height="30" width="30"/></a>&nbsp;
            
            <a href="https://fb.com/supercodingninja" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/facebook.svg" alt="supercodingninja" height="30" width="30"/></a>&nbsp;
            
            <a href="https://codepen.io/supercodingninja" target="blank"><img align="center" class="icon" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codepen.svg" alt="supercodingninja" height="30" width="30"/></a>&nbsp;
            
            <a href="https://dev.to/supercodingninja" target="blank"><img align="center" class="icon" src="../Assets/media/dev_to_icon_130961.png" alt="supercodingninja" height="30" width="30"/></a>
        </div>


        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://github.com/supercodingninja/TemplateEngine_TeamGenerator" target="_blank">
                    Home
                </a>
            </li>
            
            <li class="list-inline-item">
                <a href="https://supercodingninja.github.io/markdown-cv/" target="_blank">
                    About
                </a>
            </li>
            
            <li class="list-inline-item">
                <a href="../License_terms/LICENSE" target="_blank">
                    License Terms
                </a>
            </li>
            
            <li class="list-inline-item">
                <a href="../License_terms/privacyPolicy.html" target="_blank">
                    Privacy Policy
                </a>
            </li>
        </ul>